*{
margin:0px;
padding:0px;
}
#wrapper {
	background-color: #CC3366;
	height: 1000px;
	width: 100%;
	margin-right: 5%;
	margin-left: 5%;
}

#mainbody {
	background-color: #FFFFFF;
	height: 1000px;
	width: 1350px;
}
#header {
	background-color:#FFFFFF;
	height: 100px;
	width: 1350px;
}
#center {
	background-color:#FFFFFF;
	height: 750px;
	width: 1350px;
}
#footer {
	background-color:#FFFFFF
	height: 150px;
	width: 1350px;
}
.contents {
	background-color:#FFFFFF;
	height: 50px;
	width: 1100px;
}

.left {
	background-color: #FFFFFF;
	float: left;
	height: 800px;
	width: 250px;
}